html {
    scroll-behavior: smooth;
}


body {
    text-align: center;
    color: rgb(19, 18, 18);
    background-color: rgb(253, 215, 159);
}
a {
    color: rgb(16, 8, 88);
}
a:hover {
    text-decoration: none;
    color: rgb(224, 248, 3);
}
a:active {
    background-color: rgb(2, 77, 21);
}
a:visited {
    background-color: rgb(36, 64, 223);
    color: rgb(240, 192, 37);
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.demo {
    font-size: 20px;
    font-weight: bold;
}
#dummy {
    color: rgb(12, 99, 99);
    font-size: larger;
}
@media (max-width: 600px) {
    body {
        background-color: beige;
    }
}
